[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
debugpy = "*"
flask = "*"
langchain = "*"
openai = "*"
requests = "*"

[requires]
python_version = "3.10"